  .personal-details{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    margin: 4%;
    border-radius: 18px;
    padding-bottom: 1rem;
  
  }

  .personal-details-input-group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 1rem;
    align-items: center;
  }

  .personal-details-input{
    background-color: var(--main-bg-color);
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    transition: border .25s, box-shadow .25s;
    color: black;
    width: 90%;
  }

  .contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }